body{
    display: flex;
    flex-direction: column;
    background-color: #363636;
    margin:0;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #5e5e5e;
}

.header-title{
    font-size: 45px;
    margin: 7px;
    font-family: "Ultra", sans-serif;
    color: #CF9FFF;
}

.header-text{
    font-size: 25px;
    font-family: "Fira Sans", sans-serif;
    color: #CF9FFF;
}

.body-container{
    display: flex;
    justify-content: center;
    margin: 30px;
}

/*grid things:*/
.grid-container{
    width: 500px;
    height: 500px;
    border: 30px solid #CF9FFF;
    box-shadow: 4px 4px 10px #898989;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-container:hover{
    cursor: pointer;
}

.grid-square{
    border: 0.5px solid black;
    background-color:white;
}

.row-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*end grid things*/

.sidebar{
    background-color: #5e5e5e;
    box-shadow: 4px 4px 10px #898989;
    border-radius: 5px;
    margin: 40px;
    padding: 20px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

button:hover{
    cursor: pointer;
    background-color: #CF9FFF;
    color: #5e5e5e;
}

button{
    box-shadow: 4px 4px 5px #898989;
    margin: 10px;
    background-color: #5e5e5e;
    width: 160px;
    height: 40px;
    border: 5px solid #CF9FFF;
    border-radius: 8px;
    color: #CF9FFF;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
}

.colour-btn{
    background-color: #CF9FFF;
    color: #5e5e5e;
}

.pencolour-container{
    display: flex;
    align-items: center;
}

.pencolour-text{
    color: #CF9FFF;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    margin: 10px 10px;
}

.pencolour-box{
    height: 25px;
    width: 50px;
    outline: none;
    overflow: hidden;
    border: 0.5px solid white;
    border-radius: 2px;
    cursor: pointer;
}

/*remove thick border of colour picker*/
input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

